body {
   font-family: "Helvetica Neue", sans-serif; 
   text-align:center;
   color: #444;
}

h1 {
    font-size: 50px;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight:400;
    color: #006A8D;
}

p {
    margin-bottom: 25px;
    line-height:1.5;
}

ul {
    list-style-type: none;
    padding: 0;
    font-style: italic;
}

li {
    padding-bottom: 25px;
  
}

img {
    width: 100%;
}

nav a{
    margin: 0 5px;
    color: #006A8D;
}

nav a:hover {
    color: #444;
}

section {

    padding: 40px;
}

textarea {
    margin: 10px 0 20px 0;
    width:90%;
}

hr {
    margin: 30px auto;
    width: 90%;
}

button, input, textarea {
    display:block;
    margin: 5px auto;
}

button {
    margin-top: 20px;
    background-color:#006A8D;
    border: none;
    border-radius:4px;
    padding: 10px 20px;
    color: #fff;
    cursor:pointer;
}

button:hover {
    opacity:0.8;
}

.main-header {
    display:block;
    padding: 40px 60px;
    text-align:center;
}

#about {
    background-color: #F2F2F2;
    padding-bottom: 60px;
}

#contact {
    background-color: #F2F2F2;
    padding-bottom: 60px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .main-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    hr {
        width: 70%;
    }

    textarea {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    #about{
        display:flex;
        padding: 60px;
    }
    .about-content {
        margin-right:50px;
    }

    #about img, #menu img{
        width: 50%;
        height: 50%;
    }
}



